.main-content-wrapper {
  .home-page-header {
    line-height: 2;
    transition: color 0.2s;
    color: var(--text);
  }

  .mp3-file-wrapper {
    .file-title {
      max-width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: color 0.2s;
      color: var(--text);
    }
  }
}

.loading-wrapper {
  .loading-text {
    color: var(--text);
    transition: color 0.2s;
  }
}

.url-input-wrapper {
  flex: 1;
  max-width: 400px;
  position: relative;

  .url-input {
    min-width: 220px;
    width: 100%;
    height: 40px;
    padding-inline-end: 0;
  }

  .url-input-dirty {
    padding-inline-end: 35px;
  }

  .url-reset-icon {
    position: absolute;
    cursor: pointer;
    top: 13px;
    right: 13px;
  }
}

.primary-button, .secondary-button {
  height: 40px;
}
