.icon-xs {
  color: #201315;
  transition: color 0.2s;
  font-size: 12px;
}

.icon-sm {
  color: #201315;
  transition: color 0.2s;
  font-size: 14px;
}

.icon-md {
  color: #201315;
  transition: color 0.2s;
  font-size: 16px;
}

.icon-lg {
  color: #201315;
  transition: color 0.2s;
  font-size: 20px;
}

.icon-lgr {
  color: #201315;
  transition: color 0.2s;
  font-size: 24px;
}

.icon-big {
  color: #201315;
  transition: color 0.2s;
  font-size: 36px;
}

button[type=button].primary-button {
  background: #9f7660 !important;
  color: #201315 !important;
  font-size: 16px;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s, opacity 0.2s;
  border: none;
}

button[type=button].primary-button:hover {
  background: #9f7660 !important;
  color: #201315 !important;
  border: none;
}

button[type=button].primary-button:focus {
  box-shadow: 0 0 0 0.2rem #3c3924 !important;
}

button[type=button].primary-button:focus-visible {
  box-shadow: 0 0 0 0.2rem #3c3924 !important;
}

button[type=button].secondary-button {
  background: #eae8dc !important;
  color: #201315 !important;
  font-size: 16px;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s, opacity 0.2s;
  border: 1px solid #3c3924;
}

button[type=button].secondary-button:hover {
  background: #eae8dc !important;
  color: #201315 !important;
  border: 1px solid #3c3924;
}

button[type=button].secondary-button:focus {
  box-shadow: 0 0 0 0.2rem #9f7660 !important;
}

button[type=button].secondary-button:focus-visible {
  box-shadow: 0 0 0 0.2rem #9f7660 !important;
}

@media (max-width: 900px) {
  button[type=button].primary-button,
  button[type=button].secondary-button {
    font-size: 14px !important;
  }
}
input[type=text] {
  color: #201315;
  background: #eae8dc;
  font-size: 16px;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s, border 0.2s;
  border: 1px solid #3c3924;
}

input[type=text]:hover {
  border: 1px solid #3c3924 !important;
}

input[type=text]:active,
input[type=text]:focus,
input[type=text]:focus-visible {
  box-shadow: 0 0 0 0.2rem #3c3924 !important;
  border: none !important;
}

.error-message {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 900px) {
  input[type=text],
  .error-message {
    font-size: 14px !important;
  }
}
.header-wrapper .image-caption {
  font-size: 16px;
  color: #201315;
}

@media (max-width: 900px) {
  .header-wrapper .image-caption {
    font-size: 14px !important;
  }
}
.main-content-wrapper .home-page-header {
  line-height: 2;
  transition: color 0.2s;
  font-size: 24px;
  color: #201315;
}
.main-content-wrapper .mp3-file-wrapper .file-title {
  font-size: 16px;
  color: #201315;
}

.loading-wrapper .loading-text {
  color: #201315;
  font-size: 14px;
  transition: color 0.2s;
}

@media (max-width: 900px) {
  .main-content-wrapper .home-page-header {
    font-size: 20px !important;
  }
  .mp3-file-wrapper .file-title {
    font-size: 14px !important;
  }
}
.layout-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

fieldset {
  border: none;
}

/*# sourceMappingURL=layout-light.css.map */
