<section class="header-wrapper w-full flex justify-content-between align-items-center py-2 px-8">
  <figure>
    <img class="logo-image" src="/favicon.ico" alt="Headphones Logo">
    <figcaption class="image-caption text-sm md:text-base">
      {{ 'LogoHeader' | translate }}
    </figcaption>
  </figure>

  <fieldset>
    <button type="button"
            pButton
            pRipple
            class="theme-switcher secondary-button flex justify-content-center align-items-center no-select"
            (click)="configService.changeTheme()"
    >
      <i class="fa-solid icon-sm"
         [class]="configService.Theme === 'light' ? 'fa-sun' : 'fa-moon'"
      >
      </i>
    </button>
  </fieldset>
</section>
