input[type="text"] {
  color: $text;
  background: $secondary;
  font-size: $Medium;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s, border 0.2s;
  border: 1px solid $accent;
}

input[type="text"]:hover {
  border: 1px solid $accent !important;
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="text"]:focus-visible {
  box-shadow: 0 0 0 0.2rem $accent !important;
  border: none !important;
}

.error-message {
  font-size: $Small;
  font-weight: 400;
}

@media (max-width: 900px) {
  input[type="text"],
  .error-message {
    font-size: $Small !important;
  }
}
