//  Primary Button Start

button[type="button"].primary-button {
  background: var(--primary) !important;
  color: var(--text) !important;
  font-size: 16px;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s, opacity 0.2s;
  border: none;
  font-weight: 400;
}

button[type="button"].primary-button:hover {
  background: var(--primary) !important;
  color: var(--text) !important;
  border: none;
}

button[type="button"].primary-button:focus {
  box-shadow: 0 0 0 0.2rem var(--accent) !important;
}

button[type="button"].primary-button:focus-visible {
  box-shadow: 0 0 0 0.2rem var(--accent) !important;
}

//  Primary Button End


//  Secondary Button Start

button[type="button"].secondary-button {
  background: var(--secondary) !important;
  color: var(--text) !important;
  font-size: 16px;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s, opacity 0.2s;
  border: 1px solid var(--accent);
  font-weight: 400;
}

button[type="button"].secondary-button:hover {
  background: var(--secondary) !important;
  color: var(--text) !important;
  border: 1px solid var(--accent);
}

button[type="button"].secondary-button:focus {
  box-shadow: 0 0 0 0.2rem var(--primary) !important;
}

button[type="button"].secondary-button:focus-visible {
  box-shadow: 0 0 0 0.2rem var(--primary) !important;
}

//  Secondary Button End


@media (max-width: 900px) {
  button[type="button"].primary-button,
  button[type="button"].secondary-button {
    font-size: 14px !important;
  }
}
