@import '../variables/fonts/_fonts';

@import './components/primeNG/_button';
@import './components/primeNG/_input';

@import './components/_header';
@import './components/_footer';
@import './components/_home';
@import './components/_notfound';

.layout-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

fieldset {
  border: none;
}
