$XSmall: 12px;
$Small: 14px;
$Medium: 16px;
$Large: 20px;
$Larger: 24px;
$Big: 36px;

.icon-xs {
  color: $text;
  transition: color 0.2s;
  font-size: $XSmall;
}

.icon-sm {
  color: $text;
  transition: color 0.2s;
  font-size: $Small;
}

.icon-md {
  color: $text;
  transition: color 0.2s;
  font-size: $Medium;
}

.icon-lg {
  color: $text;
  transition: color 0.2s;
  font-size: $Large;
}

.icon-lgr {
  color: $text;
  transition: color 0.2s;
  font-size: $Larger;
}

.icon-big {
  color: $text;
  transition: color 0.2s;
  font-size: $Big;
}
